@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "关键人管理-列表";
    ViewBag.LastPage = "指导司机";
    ViewBag.LastUrl = "javascript:void(0);";
    ViewBag.ThisPage = "关键人管理-列表";
    ViewBag.ThisUrl = "/Instructor/KeyPerson";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <section class="tile">
            <div class="tile-body">
                <div id="responsive-usage_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-custom dt-responsive dataTable no-footer" id="responsive-usage" width="100%" role="grid" aria-describedby="responsive-usage_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 82px;">包保人</th>
                                        <th class="sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending" style="width: 255px;">所属</th>
                                        <th class="sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" style="width: 245px;">关键人</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Street Address: activate to sort column ascending" style="width: 335px;">确定日期</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending" style="width: 121px;">预计解除日期</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 166px;">实际解除日期</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="ZIP: activate to sort column ascending" style="width: 107px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody><tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">Loading...</td></tr></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<script src="/Scripts/page-scripts/key-person.js"></script>
<script src="/Scripts/page-scripts/instructor-list-common.js"></script>
