<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=DaTangDb;Data Source=LENOVO-PC\MSSQLSERVER2016" name="MSSQLSERVER" />
    <add connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = orcl.168.1.113)));User Id=SYSTEM;Password=admin;" name="ORACLE" />
    <add connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=Railroad;Data Source=LENOVO-PC\MSSQLSERVER2016" name="MainDb" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
