@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "搜索关键字管理";
    ViewBag.LastPage = "行车资料";
    ViewBag.LastUrl = "javascript:void(0);";
    ViewBag.ThisPage = "关键字管理";
    ViewBag.ThisUrl = "/Files/Keywords";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <section class="tile">
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                    <strong>关键字列表</strong>
                </h1>
                <ul class="controls">
                    <li>
                        <button id="btnAddKeywords" class="btn btn-hotpink btn-lg mr-40 mt-10">添加关键字</button>
                    </li>
                </ul>
            </div>
            <div class="tile-body">
                <button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button><button class="btn btn-default btn-border mb-10 mr-10">规章制度</button>
            </div>
        </section>
    </div>
</div>

<form class="form-group" style="display: none; font-size: 14px;">
    <input type="text" id="txtInput" class="form-control" placeholder="输入关键字" required data-parsley-trigger="change" data-parsley-maxlength="20" data-parsley-required-message="不能添加空的关键字" data-parsley-maxlength-message="关键字不能超过20个字"/>
</form>

<script src="/Scripts/page-scripts/keywords.js"></script>
