<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Guoli.Admin-20160711165310;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Guoli.Admin-20160711165310.mdf" />
    <add connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=Railroad;Data Source=." name="MainDb" />
    <add connectionString="Data Source=Railroad.db" name="SqliteDb" />
  </connectionStrings>
</configuration>