<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=Railroad;Data Source=." name="MainDb" />
  </connectionStrings>
  
  <appSettings>
    <add key="Client2ServerTables" value="AppOperateLog,ExamErrorQuestions,ExamRecords,ExceptionLog,Feedback,InstructorAccept,InstructorAnalysis,InstructorCheck,InstructorGoodJob,InstructorKeyPerson,InstructorLocoQuality,InstructorPeccancy,InstructorPlan,InstructorQuota,InstructorQuotaRecord,InstructorRepair,InstructorReviewScore,InstructorReviewStandard,InstructorRouterPosition,InstructorTeach,InstructorTempTake,InstructorWifiRecord,OperateLog,TraficSearchRecord,DriveRecords,DriveSignPoint,DriveTrainNoAndLine" />
    <add key="Server2ClientTables" value="AnnounceCommands,Announcement,AppUpdate,BaseLine,BaseStation,DbUpdateLog,DepartInfo,DrivePlan,ExamAnswers,ExamFiles,ExamNotify,ExamQuestion,ExamType,LineAnnounceCommands,LineStations,Menu,MobileDevice,OperateLog,OracleTableMaxId,Permission,PersonInfo,Posts,PrimaryIdRelation,StationFiles,SystemUser,TraficFiles,TraficFileType,TraficKeywords,TraficSearchResult,TraficSearchText,TrainFormation,TrainMoment,TrainNo,TrainNoLine" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>