<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=Railroad;Data Source=." name="MainDb" />
  </connectionStrings>
  <appSettings>
    <add key="Client2ServerTables" value="AppOperateLog,ExamErrorQuestions,ExamRecords,ExceptionLog,Feedback,InstructorAccept,InstructorAnalysis,InstructorCheck,InstructorGoodJob,InstructorKeyPerson,InstructorLocoQuality,InstructorPeccancy,InstructorPlan,InstructorQuota,InstructorQuotaRecord,InstructorRepair,InstructorReviewScore,InstructorReviewStandard,InstructorRouterPosition,InstructorTeach,InstructorTempTake,InstructorWifiRecord,DriveRecords,DriveSignPoint,DriveTrainNoAndLine" />
    <add key="Server2ClientTables" value="AnnounceCommands,Announcement,AppUpdate,BaseLine,BaseStation,DbUpdateLog,DepartInfo,DrivePlan,ExamAnswers,ExamFiles,ExamNotify,ExamQuestion,ExamType,LineAnnounceCommands,LineStations,Menu,MobileDevice,OperateLog,OracleTableMaxId,Permission,PersonInfo,Posts,PrimaryIdRelation,StationFiles,SystemUser,TraficFiles,TraficFileType,TrainFormation,TrainMoment,TrainNo,TrainNoLine" />
    <!--<add key="WebAppPort" value="8005" />
    <add key="WebAppName" value="BXadmin-new" />-->
    <!-- 后台接口程序的绝对路径  D:\web\Guoli.Admin-new   -->
    <!--<add key="WebAppDir" value="D:\web\BXweb\Guoli.Admin-new" />-->
    <add key="ServerUrl" value="http://192.168.0.105:8003" />
    <add key="WebAppDir" value="D:\web\Guoli.Admin-new" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>