body, html {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

.clear {
  clear: both;
}

.btn {
  font-size: 1em;
}

.page {
  width: 100%;
  height: 100%;
}

.page .page-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.page .page-content {
  width: 60%;
  margin: 0 auto;
  padding-left: 20px;
}

.select-item {
  padding: 5px 10px;
  border: 1px solid #d7d7d7;
  margin-right: 10px;
  margin-top: 10px;
}

.select-item.select-active {
  border: none;
  background: #3399FF;
  color: #fff;
}

.pager {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.page-1 {
  width: 90%;
  margin: 0 auto;
}

.page-1 .page-content {
  width: 80%;
}

.page-1 h4 {
  font-weight: bold;
}

.page-1 ul {
  padding-left: 20px;
}

.page-1 ul li {
  font-size: 1.2em;
  margin-top: 10px;
}

.page-1 ul li span, .page-1 ul li input {
  margin-left: 10px;
}

.page-1 .part-1 {
  margin-top: 50px;
}

.page-1 .part-1 .btn-attend {
  width: 150px;
  height: 50px;
}

.page-1 .part-2 {
  margin-top: 50px;
}

.page-1 .part-2 .btn-upload-all {
  float: right;
  margin-right: 15px;
}

.page-1 #progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.page-1 #progress #tips {
  font-size: 1.8em;
  text-align: center;
  margin-top: 10%;
  color: #fff;
}

.page-1 #progressBar {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 10% auto;
}

.page-2 {
  margin: 0 auto;
}

.page-2 .page-content {
  margin-top: 5%;
  width: 60%;
  font-size: 1.4em;
}

.page-2 .title {
  font-weight: bold;
  margin-top: 2%;
  display: inline-block;
}

.page-2 .btn-confirm {
  width: 150px;
  height: 50px;
  margin-top: 5%;
}

.page-3 .page-content {
  width: 90%;
  margin-top: 30px;
}

.page-3 ul {
  overflow: hidden;
  width: 100%;
}

.page-3 li {
  float: left;
  padding: 5px 20px 5px 0;
  width: 48%;
  font-size: 1.2em;
}

.page-3 li label {
  padding: 5px;
  text-align: right;
  width: 55%;
  display: inline-block;
  font-weight: normal;
}

.page-3 li input {
  display: inline-block;
  width: 43%;
  padding: 10px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.page-3 li.last {
  width: 98%;
}

.page-3 li.last label {
  width: 27%;
}

.page-3 li.last input {
  width: 71%;
}

.page-3 li.last .btn-attend {
  width: 30%;
  float: right;
  margin-top: 30px;
}

.page-4 .page-content {
  width: 100%;
}

.page-4 .top {
  border-bottom: 1px solid #d7d7d7;
}

.page-4 .top-left {
  text-align: center;
  border-right: 1px solid #d7d7d7;
}

.page-4 .top-left .arrive-station {
  font-size: 1.8em;
}

.page-4 .top-left .big-btns .btn {
  width: 45%;
  margin-left: 6%;
  margin-top: 2%;
}

.page-4 .top-left .small-btns {
  margin-top: 5%;
}

.page-4 .top-left .small-btns .title {
  text-align: right;
  display: inline-block;
}

.page-4 .top-left .small-btns div {
  width: 30%;
  margin-bottom: 1%;
  font-size: 1.0em;
}

.page-4 .top-right .title {
  padding-bottom: 5px;
}

.page-4 .bottom {
  text-align: center;
  margin-top: 10px;
}

.page-4 .bottom tr.deleted {
  text-decoration: line-through;
  color: #999;
}

.page-4 .bottom th, .page-4 .bottom td {
  text-align: center;
  border-top: none;
  font-size: 1em;
}

.page-4 .next {
  position: absolute;
  top: 1%;
  right: 1%;
}

.page-4 .train-ticks th, .page-4 .train-ticks td {
  border-top: none;
  font-size: 1em;
  padding: 2px;
  font-weight: normal;
  text-align: center;
  color: #999;
}

.page-4 .train-ticks tr.large {
  font-size: 1.2em;
}

.page-4 .train-ticks tr.large td {
  color: #333;
}

.page-4 .train-ticks tr.behind {
  display: none;
}

.page-4 .train-ticks .more-ticks {
  color: #999;
}

.page-5 .page-content {
  width: 100%;
  margin-top: 3%;
}

.page-5 .part {
  width: 30%;
  margin-left: 2%;
  float: left;
}

.page-5 .part.up-part {
  margin-top: -14%;
}

.page-5 .part.last {
  float: none;
  width: 65%;
  margin-top: 30px;
}

.page-5 .part.last input {
  width: 95%;
}

.page-5 .part .part-title {
  border-bottom: 1px solid #d7d7d7;
  font-weight: bold;
  padding-bottom: 10px;
}

.page-5 .part .part-content {
  width: 100%;
  font-size: 1em;
  color: #999;
  text-align: right;
}

.page-5 .part .part-content label {
  display: inline-block;
  font-weight: normal;
  padding: 10px 5px;
}

.page-5 .part .part-content input {
  display: inline-block;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 10px 5px;
  width: 50%;
}

.page-5 .part .part-content input.long {
  width: 90%;
}

.page-5 .part .part-content input.short {
  width: 30%;
}

.page-5 .part .part-content input.tiny-short {
  width: 20%;
}

.page-5 .btn-end {
  width: 20%;
  height: 60px;
  font-size: 1.4em;
  line-height: 1.8;
  float: right;
  margin-right: 4%;
  margin-top: -6%;
}

.modal .close {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 1.4em;
  text-align: center;
}

.modal .control-label {
  font-size: 1.4em;
  font-weight: normal;
  padding: 14px 0;
  text-align: right;
}

.modal .input {
  font-size: 1.4em;
  padding: 30px 10px;
}

.modal .train-ticks th, .modal .train-ticks td {
  border-top: none;
  font-size: 1.2em;
  padding: 2px;
  font-weight: normal;
  text-align: center;
  color: #333;
}

.modal .train-ticks .more-ticks {
  color: #999;
}

#showPic {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}

#showPic .img {
  width: 94%;
  margin: 0 auto;
  margin-top: 3%;
  position: relative;
}

#showPic .close {
  font-size: 1.4em;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 5;
}

#showPic img {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */