@{
    ViewBag.Title = "车站管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.LastPage = "车次线路";
    ViewBag.LastUrl = "javascript:void(0);";
    ViewBag.ThisPage = "车站管理";
    ViewBag.ThisUrl = "/Line/Stations";
}


<div class="row">
    <div class="col-md-12 col-sm-12">
        <section class="tile">
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font">
                    <strong>车站列表</strong>
                </h1>
                <ul class="controls">
                    <li>
                        <button id="btnAddStation" class="btn btn-hotpink btn-lg mr-40 mt-10">添加车站</button>
                    </li>
                </ul>
            </div>
            <div class="tile-body">
                <div id="responsive-usage_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-custom dt-responsive dataTable no-footer" id="responsive-usage" width="100%" role="grid" aria-describedby="responsive-usage_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 82px;">SN</th>
                                        <th class="sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending" style="width: 255px;">车站名称</th>
                                        <th class="sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending" style="width: 245px;">拼音</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending" style="width: 166px;">更新时间</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="Street Address: activate to sort column ascending" style="width: 335px;">操纵提示卡</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="City: activate to sort column ascending" style="width: 121px;">站场示意图</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="State: activate to sort column ascending" style="width: 144px;">站段明细</th>
                                        <th class="none sorting" tabindex="0" aria-controls="responsive-usage" rowspan="1" colspan="1" aria-label="ZIP: activate to sort column ascending" style="width: 107px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody><tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">Loading...</td></tr></tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</div>

<script src="/Scripts/page-scripts/stations.js"></script>